.pagination {
  width: 50%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    width: 2rem;
    height: 100%;
    border-radius: 50%;
    display: flex; /* flex 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */

    &:hover,
    &:active,
    &.active {
      background-color: blue;
      color: white;
    }
  }
}
